*{
    margin: 0px;
    padding: 0px;
    /* color: white; */
}

body{
    /* background: #032F3D; */
    align-items: center;
}
.newsTitle h1 {
    text-align: center;
    padding-top: 10px;
}
.newsTitle {
    border-bottom: none;

    margin-top: 0;
    margin-bottom: 27px;
    color: #222;
    overflow: hidden;
    margin: -1rem;
    font-size: 14px;
    padding: 1rem 2rem 1rem;
    line-height: 1.2;
}

.widthChanger {
    width: 700px;
}

.title{
    line-height: 1;
    padding: 10px 0px 10px 0px;
    font-size: 20px;
}

.description {
    letter-spacing: .025em;
    font-family: Roboto,Arial,sans-serif;
    font-weight: 500;
    padding-top: 5px;
    line-height: 1rem;
}

.newscontainer {
    font-size: 14px;
    padding: 1rem 2rem 1rem;
    line-height: 1.2;
    text-align: left;
    border-bottom: .0625rem solid #dadce0;
    margin-top: 0;
    margin-bottom: 27px;
    color: #222;
    overflow: hidden;
    margin: -1rem;
}

.info {
    padding-top: 3.5rem;
}
.info h1 {
    text-align: center;
}

.info p {
    padding: 10px;
    font-size: 16px;
}

iframe{
    overflow: hidden;
    position: fixed;
    padding: 2em;
    /* left: 50%; */
    top: 0%;
    /* transform: translateX(-50%); */
    position: fixed;
    /* bottom: 0; */
    right: 0;
}
.liveCyberAttackframe{
    width: 50%;
    height: 80%;
    /* transform: translateX(-100px); */

}
@media only screen and (max-width: 1490px) {
    .liveCyberAttackframe {
        width: 40%;
    }
  }
  @media only screen and (max-width: 1200px) {
    .widthChanger {
        width: 600px;
    }
  }

.author{
    font-size: 16px;
    color: gray;
    line-height: 1.25rem;
    letter-spacing: .01785714em;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 0.875rem;
}